<article class="resource-listing hero region" aria-labelledby="hed-68162">
  <div class="sidebar swap">
    <div class="body flow">
      <time class="type-detail">{{datespan}}</time>
      <h2 class="type-hed" id="hed-68162">
        <a href="{{ href }}">{{ heading }}</a>
      </h2>
      {{ body|markdown}}
    </div>
    <div class="flow throw-center">
      <div class="location flow">
        <h3 class="hed type-detail"><a href="#">{{ venue }}</a></h3>
        <p class="icon-map"><a href="#">{{ addr }}</a></p>
      </div>
    </div>
  </div>
</article>