{% extends "single/default.twig" %}
{% set pagetitle = title ? title : post.title %}


{% block hero %}
<div class="hgroup hed-accent">
  <h1 class="hed type-pagehed">{{ pagetitle }}{% if post.location %}, {{ post.location }}{% endif %}</h1>
  {% if post.role %}
  <span class="subhed">{{ post.role }}</span>
  {% endif %}
</div>
{% if bio_is_hidden %}{% include 'partial/hidden-bio-warning.twig' %}{% endif %}
{% endblock %}

{% block content %}
  <div class="region region-primary">
    <div class="sidebar region person">
      {% if post.thumbnail %}
      <div>
        <img src="{{post.thumbnail.src }}"
          height="{{post.thumbnail.height}}"
          width="{{post.thumbnail.width}}"
          alt="{{post.thumbnail.alt}}" />
      </div>
      {% endif %}
      <div class="person-meta">
        <div class="person-body{% if ( post.email or post.phone or post.linkedin ) and not post.hide_contact %} lede-header hed-accent{% endif %}">
          {{ post.content }}
        </div>
        {% if ( post.email or post.phone or post.linkedin ) and not post.hide_contact %}
        <div class="contact-footer">
          <div class="region"> 
            <ul role="list" class="contacts title-scope flow">
              {% if post.email %}
              <li><a href="mailto:{{ post.email }}">{{ post.email}}</a></li>
              {% endif %}
              {% if post.phone %}
              <li>{{ post.phone }}</li> {# `href="tel:"` links will be generated in browsing contexts that support them. #}
              {% endif %}
              {% if post.linkedin %}
              <li><a href="{{ post.linkedin }}">LinkedIn</a></li>
            {% endif %}
            </ul>

          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block posthero %}
  {% if post.authored_news(6) | length %}
  <div class="region region-primary wrapper">
  {% include "partial/related-news-list.twig" with { heading: "Writing and Thought Leadership", items: post.authored_news(6) } %}
  </div>
  {% endif %}
{% endblock %}

