{% extends "single/default.twig" %}
{% set pagetitle = title ? title : post.title %}

{% set podcast = post.podcast_name %}
{% set season = post.podcast_season %}
{% set episode = post.podcast_episode %}

{% set youtube = post.podcast_youtube_url %}
{% set mp3 = post.podcast_mp3_url %}

{% block hero %}
  <time datetime="{{post.date('Y-m-d')}}">{{post.date}}</time>
  <h1 class="type-pagehed hed-accent">{{ pagetitle }}</h1>
{% endblock %}

{% block content %}
  {% if post.podcast_name %}<div class="lede-header">
  <p>{{ post.podcast_name }}{% if post.podcast_season %}: Season {{ post.podcast_season }}{% endif %}{% if post.podcast_episode %}, Episode {{ post.podcast_episode }}{% endif %}</p>
  </div>{% endif %}
  {% if youtube or mp3 %}{% include 'fields/podcast-media.twig' with { youtube: youtube, mp3: mp3 } %}{% endif %}
  <div class="sidebar">
    <div class="prose central-inner lede flow">
      {{post.content}}
    </div>
  </div>
{% endblock %}
