{% block html_head_container %}
{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
	<body class="{{body_class}} cg" data-template="base.twig">
		{{ function('wp_body_open') }}
		<header class="site-header" id="header">
			<a href="#main" class="skiplink visually-hidden focusable">{{ _e( 'Skip to content') }}</a>
			{% include 'partial/header.twig' %}
		</header>

		<main role="main" id="content">
			<div class="hero{% if post.post_type == "project" %} standout{% endif %}">
				{% include 'partial/hero.twig' %}
				<div{% if block("floatingsidebar") is defined %} class="project-sidebar sidebar" data-direction="rtl"{% endif %}>
					{% block floatingsidebar %}{% endblock %}
					<div class="notch hero-header">
						<div class="hed-banner">
							<div class="notch-inner">
								{% block hero %}
								<time datetime="{{post.date('Y-m-d')}}">{{post.date}}</time>
								{% set pagetitle = title ? title : post.title %}
								<h1 class="type-pagehed hed-accent">{{ pagetitle | stylize }}</h1>
								{% endblock %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="central">
			<div class="wrapper">
				<div class="sidebar swap">
					<div>
					{% block content %}
					{% endblock %}
					</div>
					{% block sidebar %}
					{% endblock %}
				</div>
			</div>
		</div>
		{% block posthero %}{% endblock %}
		</main>
		{% block footer %}
			{% include 'footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
		</body>
		{% set ui = site.theme.link~'/assets/js/ui.js' %}
		<script type="module" src="{{ ui }}?{{ ui|cachebust }}" defer></script>
</html>
