{% block html_head_container %}
{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
	<body class="{{body_class}}" data-template="base.twig">
		{{ function('wp_body_open') }}
		<header class="site-header" id="header">
			<a href="#main" class="skiplink visually-hidden focusable">{{ _e( 'Skip to content') }}</a>
			{% block header %}
			{% include 'partial/header.twig' %}
			{% endblock %}
		</header>

		<main role="main" id="content">
			<div class="hero">
				<div class="hero-highlight topo-full">
					{% if post.thumbnail %}
					<img
						src="{{post.thumbnail.src|resize(2000, 850) }}"
						height="{{post.thumbnail.height}}"
						width="{{post.thumbnail.width}}"
						alt="{{post.thumbnail.alt}}" />
					{% elseif post.meta('statistics') %}
					<figure class="statistic flow hero">
						<dl class="wrapper">
						{% for stat in post.meta('statistics') %}
							<div class="body">
								<dt class="type-hed">{{ stat.value }}</dt>
								{%if stat.label %}<dd class="type-detail">{{ stat.label }}</dd>{% endif %}
							</div>
						{% endfor %}
						</dl>
					</figure>
					{% endif %}
				</div>
				<div class="notch hero-header">
					<div class="hed-banner wrapper">
						<div class="notch-inner region">
							{% block hero %}
							<time datetime="{{post.date('Y-m-d')}}">{{post.date}}</time>
							{% set pagetitle = title ? title : post.title %}
							<h1 class="type-pagehed hed-accent">{{ pagetitle | stylize }}</h1>
							<div class="lede-header">
								<p>Cumming Group and its team members support and engage with a wide variety of industry and community organizations. We do this by becoming members and/or assuming leadership positions in these organizations, attending trade shows and conferences, participating on expert panels, providing sponsorship and promotional support to various causes and activities, and even hosting our own events — all with a mind of giving back to the communities, organizations, and people who have helped us and so many others along the way.</p>
							</div>
							{% endblock %}
						</div>
					</div>
				</div>
			</div>
			<div class="wrapper sidebar swap">
				<div>
					{% block content %}
						Sorry, no content
					{% endblock %}
				</div>
				{% block sidebar %}
				{% endblock %}
			</div>
			{% block posthero %}
			{% endblock %}
		</main>

			{% block footer %}
				{% include 'footer.twig' %}
				{{ function('wp_footer') }}
			{% endblock %}
		</body>
		<script type="module" src="/wp-content/themes/cumminggroup/assets/js/ui.js{{ assetHash }}" defer></script>
</html>
