{% block html_head_container %}
{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
	<body class="{{body_class}}" data-template="base.twig">
		{{ function('wp_body_open') }}
		<header class="site-header" id="header">
			<a href="#main" class="skiplink visually-hidden focusable">{{ _e( 'Skip to content') }}</a>
			{% include 'partial/header.twig' %}
		</header>

		<main role="main" id="content">
			<div class="hero">
				<div class="hero-highlight topo-full">
					{% if post.thumbnail %}
					<img
						src="{{post.thumbnail.src|resize(2000, 850) }}"
						height="{{post.thumbnail.height}}"
						width="{{post.thumbnail.width}}"
						alt="{{post.thumbnail.alt}}" />
					{% elseif post.meta('statistics') %}
					<figure class="statistic flow hero">
						<dl class="wrapper">
						{% for stat in post.meta('statistics') %}
							<div class="body">
								<dt class="type-hed">{{ stat.value }}</dt>
								{%if stat.label %}<dd class="type-detail">{{ stat.label }}</dd>{% endif %}
							</div>
						{% endfor %}
						</dl>
					</figure>
					{% endif %}
				</div>
				<div class="notch hero-header">
					<div class="hed-banner wrapper">
						<div class="notch-inner">
							{% block hero %}
							<time datetime="{{post.date('Y-m-d')}}">{{post.date}}</time>
							{% set pagetitle = title ? title : post.title %}
							<h1 class="type-pagehed hed-accent">{{ pagetitle | stylize }}</h1>
							{% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="sidebar swap">
			<div>
				{% block content %}{% endblock %}
			</div>
			{% block sidebar %}
			{% endblock %}
		</div>
		{% block posthero %}{% endblock %}
		</main>
		{% block footer %}
			{% include 'footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
		</body>
		<script type="module" src="{{ site.theme.link }}/assets/js/ui.js{{ assetHash }}" defer></script>
</html>
