
<footer class="site-footer">

{% if settings.cta.default or settings.cta.fallback %}
	<div class="footer-cta">
		<div class="notch wrapper">
			<div class="notch-inner inner-cta repel">
				<div class="body flow bg-deep-steel">
				{% if settings.cta.default %}
					{{ settings.cta.default | gravityform }}
				{% elseif settings.cta.fallback %}
					{% apply shortcodes %}{{ settings.cta.default }}{% endapply %}
				{%- endif %}
			</div>
		</div>
	</div>
{% endif %}

	<div class="wrapper">
		<div class="footer-primary region repel">
			<div class="body">
				{% if settings.heading or settings.notice %}
					{% if settings.heading %}
					<h3 class="type-hed hed-accent">{{ settings.heading }}</h3>
					{% endif %}
					{% if settings.notice %}
					{{ settings.notice }}
					{% endif %}
				{% endif %}
				{% if settings.social %} 
				<div class="region cluster socials">
					{% for item in settings.social %}
					<a href="{{ item.url }}" class="button inverted icon">
					{%- if item.icon -%}<span class="dashicons {{ item.icon }}"></span>
					{%- else -%}
					<span>{{ item.label }}</span>
					{%- endif -%}
					</a>
					{% endfor %}
				</div>
				{% endif %}
			</div>
			{% if footer_links %}
			<div class="footer-nav cluster">
				{% for item in footer_links.items %}
				<div class="flow nav-group">
					<h4 class="type-detail">{{ item.title }}</h4>
					{% if item.children -%}
					<ul role="list" class="flow">
						{% for child in item.children %}
							<li><a href="{{ child.link }}">{{ child.title }}</a></li>
						{% endfor %}
					</ul>
					{%- endif %}
				</div>
				{% endfor %}
			</div>
			{% endif %}
		</div>
	</div>

	<div class="fine-print">
		<div class="wrapper region repel">
			<small>{{ settings.copyright | replace({'[YEAR]': "now"|date('Y')}) }}</small>
			<nav class="legal" aria-label="Legal">
				<ul role="list">
				{% for item in fine_print_links.items %}
				<li><a href="{{item.link}}">{{item.title}}</a></li>
				{% endfor %}
				</ul>
			</nav>
		</div>
	</div>

</footer>