
	<footer class="site-footer {{ utilities }} {{ type }}">
		<div class="footer-cta">
			<div class="notch wrapper">
				<div class="notch-inner inner-cta repel">
					<div class="body flow">
						<h3 class="type-hed">Contact Us</h3>
						<p>Need some help? Fill out the form below and our staff will be in touch!</p>
					</div>
					<a href="#" class="button glass">CTA</a>
				</div>
			</div>
		</div>
		<div class="wrapper">
			<div class="footer-primary region repel">
				<div class="body">
					{% if blurb %}
					{% if blurb.heading %}
					<h3 class="type-hed hed-accent">heading</h3>
					{% endif %}
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					{% endif %}
					{% if socials %}
					<div class="region cluster socials">
						{% for item in socials.items %}
						<a href="{{ item.link }}" class="button inverted icon"><span>{{ item.text }}</span>{{ item.icon }}</a>
						{% endfor %}
					</div>
					{% endif %}
				</div>
				<div class="footer-nav cluster">
					{% for nav in footernav %}
					<div class="flow nav-group">
						<h4 class="type-detail">{{ nav.heading }}</h4>
						<ul role="list" class="flow">
							{% for item in nav.items %}
							<li><a href="{{ item.link }}">{{ item.text }}</a></li>
							{% endfor %}
						</ul>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="fine-print">
			<div class="wrapper region repel">
				<small>Copyright {{"now"|date('Y')}}</small>
				<nav class="legal" aria-label="Legal">
					<ul role="list">
						{%  if legal %}
						{% for link in legal %}
						<li><a href="{{ link.link }}">{{ link.text }}</a></li>
						{% endfor %}
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>
	</footer>