
<footer class="site-footer bg-steel-shade">

{% if settings.cta.form or settings.cta.fallback %}
	<div class="footer-cta">
		<div class="notch wrapper">
			<div class="notch-inner inner-cta">
				<div class="repel bg-deep-steel">
					<style>
						.gform_heading { display: none; }
					</style>
					<div class="body flow">
						{% if settings.cta.heading %}<h3 class="type-hed">{{ settings.cta.heading }}</h3>{% endif %}
						{% if settings.cta.text %}<p>{{ settings.cta.text }}</p>{% endif %}
	        </div>
					{% if settings.cta.button %}
						<button role="button" data-toggle=".footer-form" aria-expanded="false" class="button secondary">{{ settings.cta.button }}</button>
					{% endif %}
				</div>
				<div>
					<div aria-hidden="true" class="footer-form">
						{% if settings.cta.form %}
						{{ settings.cta.form | gravityform(false, false) }}
						{% elseif settings.cta.fallback %}
						{% apply shortcodes %}{{ settings.cta.default }}{% endapply %}
						{%- endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}

	<div class="wrapper">
		<div class="footer-primary region repel">
			<div class="body">
				{% if settings.heading or settings.notice %}
					{% if settings.heading %}
					<h3 class="type-hed hed-accent">{{ settings.heading }}</h3>
					{% endif %}
					{% if settings.notice %}
					{{ settings.notice }}
					{% endif %}
				{% endif %}
				{% if settings.social %} 
				<div class="region cluster socials">
					{% for item in settings.social %}
					<a href="{{ item.url }}" class="button inverted icon">
					{%- if item.icon -%}<span class="dashicons {{ item.icon }}"></span><span class="visually-hidden">{{ item.label }}</span>
					{%- else -%}
					<span>{{ item.label }}</span>
					{%- endif -%}
					</a>
					{% endfor %}
				</div>
				{% endif %}
			</div>
			{% if footer_links %}
			<div class="footer-nav">
				<div class="cluster footer-link-groups">
					{% for item in footer_links.items %}
					<div class="flow nav-group">
						<h4 class="type-detail">{{ item.title }}</h4>
						{% if item.children -%}
						<ul role="list" class="flow">
							{% for child in item.children %}
								<li><a href="{{ child.link }}">{{ child.title }}</a></li>
							{% endfor %}
						</ul>
						{%- endif %}
					</div>
					{% endfor %}
				</div>
				<div class="lozenge">
					<button role="button" aria-expanded="true" data-toggle=".us-only" data-persist data-toggle-group="primary-nav">Americas</button>
					<button role="button" aria-expanded="false" data-toggle=".eu-uk-only" data-persist data-toggle-group="primary-nav">Europe <span class="amp">+</span> UK</button>
				</div>
			</div>

			{% endif %}
		</div>

	</div>

	<div class="fine-print">
		<div class="wrapper region repel">
			<small>{{ settings.copyright | replace({'[YEAR]': "now"|date('Y')}) }}</small>
			<nav class="legal" aria-label="Legal">
				<ul role="list">
				{% for item in fine_print_links.items %}
				<li><a href="{{item.link}}">{{item.title}}</a></li>
				{% endfor %}
				</ul>
			</nav>
		</div>
	</div>

</footer>