<article class="resource-listing {{ type }} region" aria-labelledby="hed-{{ post.id }}">
	{% block content %}
	<div class="sidebar item">
		{% if post.thumbnail %}
		<a href="{{ post.link }}" class="thumb">
			<img
				src="{{post.thumbnail.src|resize(1200, 666) }}"
				srcset="{{ post.thumbnail.src|resize(1200, 666) }} 1200w, {{ post.thumbnail.src|resize(800, 444) }} 800w, {{ post.thumbnail.src|resize(600, 333) }} 600w, {{ post.thumbnail.src|resize(400, 222) }} 400w"
				{% if type == "hero" %}
				sizes="(min-width: 1240px) 401px, calc(96.74vw - 38px)"
				loading="eager"
				{% else %}
				sizes="auto"
				loading="lazy"
				{% endif %}
				height="666"
				width="1200"
				alt="{{post.thumbnail.alt}}" />
		</a>
		{% elseif post.placeholder %}
		<span class="placeholder topo-full {{ post.placeholder.bg }}">
			<span>{{ post.placeholder.text }}</span>
		</span>
		{% endif %}
		<div class="body flow">
			<time datetime="{{post.date('y-m-d')}}" class="type-detail">{{ post.date }}</time>
			<h2 class="type-hed {% if type == "hero" %}hed-accent{% endif %}" id="hed-{{ post.id }}">
				<a href="{{ post.link }}">{{ post.title }}</a>
			</h2>
			{% if type == "hero" %}
			<p>{{ post.excerpt.read_more(false) }}</p>
			{% endif %}
			{% if post.tags %}
			<ul class="cluster listing-meta type-detail" role="list">
				{% for tag in post.tags %}
				<li><a href="{{ tag.link }}">{{ tag.name }}</a></li>
				{% endfor %}
				{% endif %}
			</ul>
		</div>
	</div>
	{% endblock %}
</article>
