<article class="resource-listing {{ type }} region" aria-labelledby="hed-{{ post.id }}">
  {% block content %}
  <div class="sidebar swap">
    <div class="body flow">
      <time class="type-detail">{{ post.start_date|date('F j') }}{%  if post.end_date and post.start_date|date('F j') != post.end_date|date('F j') %} - {{ post.end_date|date('F j') }}{% endif %}</time>
      <h2 class="type-hed" id="hed-{{ post.id }}">
        <a href="{{ post.link }}">{{ post.title }}</a>
      </h2>
      {% if post.tags %}
      <ul class="cluster listing-meta type-detail" role="list">
        {% for tag in post.tags %}
        <li><a href="{{ tag.link }}">{{ tag.name }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
      {% if type == "hero" or type == "event" %}
      <p>{{ post.excerpt.read_more(false) }}</p>
      {% endif %}
    </div>
    <div class="flow throw-center">
      <div class="location flow">
        <h3 class="hed type-detail">
          {% if post.venue_url %}<a href="{{post.venue_url}}">{{post.venue_name}}</a>{% else %}{{post.venue_name}}{% endif %}
        </h3>
        {% if post.venue_address %}
        <p class="icon-map">
          {% set address = [post.venue_address, post.venue_city, post.venue_state, post.venue_postcode] %}
          <a href="{{ address | map_link }}">{{post.venue_address}}<br>{{post.venue_city}}, {{post.venue_state}} {{post.venue_postcode}} {{post.venue_country}}</a>
        </p>
        {% endif %}
      </div>
    </div>
  </div>
  {% endblock %}
</article>
<hr>