<li class="toggle nav-topitem nav-flyout">
  <button class="button flyout unset" data-toggle data-toggle-group="nav" id="hed-{{item.id}}" aria-expanded="false">
    {{item.title}}
  </button>
  <div class="subnav" aria-hidden="false">
    <div class="sidebar region swap" data-direction="rtl">
      <ul role="list" aria-labelledby="hed-{{item.id}}">
        {% for item in items %}
        <li><a target="{{ item.target }}" href="{{ item.link }}" class="type-detail">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</li>