{% extends "single.twig" %}
{% set pagetitle = title ? title : post.title %}


{% block hero %}
<h1 class="type-pagehed hed-accent">{{ pagetitle }}{% if post.location %}, {{ post.location }}{% endif %}</h1>
{% endblock %}


{% block content %}
  <div class="lede-header">
    {# <p class="lede">byline</p> #}
  </div>
  <div class="sidebar">
    <div class="flow">
      <div class="grid">
        {% for office in post.office_details %}
        <div class="wrapper region region-primary lede-header">
          {% if office.name %}<p><strong>{{ office.name }}</strong> <small><em>A Cumming Group company</em></small></p>{% endif %}
          {% if office.address %}
          <p class="icon-map">
            <a href="#">{{ office.address }}</a>
          </p>
          {% endif %}
          {% if office.phone %}<p class="icon-tel"><a href="tel:{{ office.phone }}">{{ office.phone }}</a></p>{% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}


{% block posthero %}
  {% if post.projects | length %}
  {% include "partial/project-gallery.twig" with { heading: "Representative Experience", items: post.projects, sectors: true, services: true, limit: 6 } %}
  {% endif %}

  {% if post.people | length %}
  <div class="region">
  {% include "partial/person-list.twig" with { heading: pagetitle ~ " Team", items: post.people } %}
  </div>
  {% endif %}
{% endblock %}

