{#
  Title: Pull Quote
  Description: Pull quote with attribution
  Category: cumminggroup
  Icon: format-quote
  Mode: preview
  SupportsMode: true
  Align: center
  PostTypes: 
  EnqueueStyle: 
  SupportsAlign: none left right
  SupportsMultiple: true
  SupportsInnerBlocks: false
  SupportsAlignContent: false
  SupportsAlignText: false
  Example: { "quote": "Lorem ipsum dolor sit amet, consectetur adipiscing elit…", "author": "John Doe" }
#}

<div class="wrapper">
  <figure class="{{ classes }} quote flow {{ fields.variation }}" data-{{ block.id }}>
    <blockquote class="body type-display">
      {{ fields.quote }}
    </blockquote>
    <figcaption class="sidebar">
      {% if fields.attribution %}
      <div>
        <div class="attribution">
          <p>{{ fields.attribution }}</p>
          {% if fields.affiliation %}<p>{{ fields.affiliation }}</p>{% endif %}
        </div>
      </div>
      {% endif %}
    </figcaption>
  </figure>
</div>