{#
  Title: Statistics
  Description: Hero presentation for project or company statistics
  Category: cumminggroup
  Icon: chart-bar
  Mode: edit
  SupportsMode: true
  Align: center
  PostTypes: 
  EnqueueStyle: 
  SupportsAlign: none
  SupportsMultiple: true
  SupportsInnerBlocks: false
  SupportsAlignContent: false
  SupportsAlignText: false
#}
<div class="region">
  <div class="bg-timeless-backdrop">
    <div class="wrapper">
      <figure class="statistic flow text-timeless-gold {{ classes | replace({'is-style-': ""}) }} {{ utilities }} {{ fields.counter ? " counter" : "" }}"{{ fields.counter ? " data-counter" : "" }} data-{{ block.id }}>
        <dl>
          {% for stat in fields.statistics %}
          <div class="body">
            <dt class="type-hed">{{ stat.value | statistic | raw }}</dt>
            <dd class="type-detail">{{ stat.label }}</dd>
          </div>
          {% endfor %}
        </dl>
      </figure>
    </div>
  </div>
</div>