<div class="region">
  <div class="feature">
    <div class="{% if override.layout == "5050" %}switcher{% else %}sidebar{% endif %} item">
      {% if thumbnail %}
      {% set thumbnail = get_image(thumbnail) %}
      <a href="{{ feature.link }}" class="thumb">
        <img
          src="{{ thumbnail.src|resize(1200, 666) }}"
          srcset="{{ thumbnail.src|resize(1200, 666) }} 1200w, {{ thumbnail.src|resize(800, 444) }} 800w, {{ thumbnail.src|resize(600, 333) }} 600w, {{ thumbnail.src|resize(400, 222) }} 400w"
          sizes="auto"
          loading="lazy"
          height="666"
          width="1200"
          alt="{{thumbnail.alt}}" />
      </a>
      {% elseif feature.thumbnail %}
      <a href="{{ feature.link }}" class="thumb">
        <img
          src="{{feature.thumbnail.src|resize(1200, 666) }}"
          srcset="{{ feature.thumbnail.src|resize(1200, 666) }} 1200w, {{ feature.thumbnail.src|resize(800, 444) }} 800w, {{ feature.thumbnail.src|resize(600, 333) }} 600w, {{ feature.thumbnail.src|resize(400, 222) }} 400w"
          sizes="auto"
          loading="lazy"
          height="666"
          width="1200"
          alt="{{feature.thumbnail.alt}}" />
      </a>
      {% elseif feature.placeholder_text %}
      <span class="placeholder topo-full {{ feature.placeholder_bg }}">
        <span>{{ feature.placeholder_text }}</span>
      </span>
      {% endif %}
      <div class="body flow">
        <div class="hgroup {% if fields.excerpt %}hed-accent {% endif %}flow">
          {% set eyebrow = eyebrow ? eyebrow : feature.eyebrow %}
          {% if eyebrow|date('y-m-d') %}
          <time datetime="{{eyebrow|date('y-m-d')}}" class="type-detail weight-regular">{{ eyebrow }}</time>
          {% else %}
          <span class="type-detail weight-regular">{{ eyebrow }}</span>
          {% endif %}
          <h2 class="type-hed">
            <a href="{{ feature.link }}">{{ title ? title : feature.title }}</a>
          </h2>
          <p class="subhed">{{ subhed ? subhed : feature.subhed }}</p>
        </div>
          <p>{{ excerpt ? excerpt : feature.excerpt.read_more(false) }}</p>
      </div>
    </div>
  </div>
</div>