<div class="region">
  {% if dates.start %}
  <time datetime="">{{ dates.start }}</time>
  {% endif %}
  {% if dates.end %}
  - <time datetime="">{{ dates.end }}</time>
  {% endif %}
  <h1 class="type-pagehed hed-accent">{{ hed }}</h1>

  <div class="lede-header {{ type }} {{ utilities }}">
    {% if bylines %}
      <div class="grid">
      {% for byline in bylines %}
      <address class="hgroup person-header">
        <span class="author">{{ byline.name }}</span>
        <span class="title type-detail">{{ byline.role }}</span>
      </address>
      {% endfor %}
      </div>
    {% endif %}
    {% if location %}
    <span class="location"><a href="{{ location.url }}">{{ location.text }}</a></span>
    {% endif %}
    <div class="lede">
      {{ lede | markdown }}
    </div>
  </div>
</div>