<div class="person {{ type }} {{ utilities }}">
  <div class="sidebar">
  {% if img %}
    <div class="crop">
    <img src="{{ img.src }}" height="{{ img.height }}" width="{{ img.width }}" alt="{{ img.alt }}">
    </div>
  {% endif %}
    <div class="body">
      <div class="person-header flow">
        <h2 class="hed type-body">{% if contact %}<a href="mailto:{{ contact }}">{% endif %}{{ name }}{% if contact %}</a>{% endif %}</h2>
        <div class="person-meta flow">
          <div>
            <span class="title type-detail">{{ title }}</span>
            <div class="locations">
            {% for loc in regions %}
            <a href="#" class="location type-detail">{{ loc }}</a>
            {% endfor %}
            </div>
          </div>
          {% if sectors %}
          <ul role="list" class="title-scope">
            {% for sector in sectors %}
            <li><a href="{{ sector.href }}">{{ sector.text }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
          {% if contacts %}
          <ul role="list" class="contacts">
          {% for contact in contacts %}
            <li><a href="#">{{contact}}</a></li>
          {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>