<div class="person {{ type }} {{ utilities }}">
  <div class="sidebar">
  {% if img %}
    <div class="crop">
    <img src="{{ img.src }}" height="{{ img.height }}" width="{{ img.width }}" alt="{{ img.alt }}">
    </div>
  {% endif %}
    <div class="body">
      <div class="person-header flow">
        <h2 class="hed type-body">{% if contact %}<a href="mailto:{{ contact }}">{% endif %}{{ name }}{% if contact %}</a>{% endif %}</h2>
        <div class="person-meta flow">
          <div>
            <span class="title type-detail">{{ title }}</span>
          </div>
          {% if sectors %}
          <ul role="list" class="title-scope">
            {% for sector in sectors %}
            <li><a href="{{ sector.href }}">{{ sector.text }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
          {% if contacts %}
          <div class="repel">
            {% if contacts %}
            <ul role="list" class="contacts flow">
            {% for contact in contacts %}
              <li><a href="#">{{contact}}</a></li>
            {% endfor %}
            </ul>
            {% endif %}
            <a href="https://hire.wil.to" class="button mini align-only icon">
              <span>LinkedIn</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                <path d="M8.643 4A2.641 2.641 0 0 0 6 6.64C6 8.1 7.183 9.31 8.64 9.31c1.459 0 2.643-1.21 2.643-2.668A2.64 2.64 0 0 0 8.643 4zm12.892 7c-2.219 0-3.488 1.16-4.098 2.314h-.064v-2.003H13V26h4.557v-7.271c0-1.916.144-3.768 2.515-3.768 2.337 0 2.371 2.185 2.371 3.889V26H27v-8.068C27 13.984 26.151 11 21.535 11zm-15.172.31V26h4.56V11.31h-4.56z" fill=""></path>
              </svg>
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>