<div class="compact {{ utilities }}">
  <form action="POST" class="region">
    <label class="{{ type }}">
      <span>Text Input</span>
      <input type="text">
    </label>

    <label class="{{ type }}">
      <span class="label">Text (placeholder)</span>
      <input type="text" placeholder="Placeholder">
    </label>

    <label class="{{ type }}">
      <span class="label">Text (Required)</span>
      <input type="text" required>
    </label>

    <label class="{{ type }}">
      <div class="repel">
        <span class="label">Text (validated)</span>
        <span class="note">Four or more characters required.</span>
      </div>
      <input type="text" minlength="4" required>
    </label>

    <label class="{{ type }}">
      <span class="label">Email</span>
      <input type="email" required>
    </label>

    <label class="{{ type }}">
      <span class="label">Text (Disabled)</span>
      <input type="text" disabled>
    </label>

    <label class="{{ type }}">
      <span class="label">Textarea</span>
      <textarea></textarea>
    </label>

    <label class="{{ type }}">
      <span class="label">Date</span>
      <input type="date">
    </label>

    <label class="{{ type }}">
      <span class="label">Select</span>
      <div class="select">
        <select>
          <optgroup label="optgroup">
            <option>option 1</option>
            <option>option 2</option>
            <option>option 3</option>
          </optgroup>
        </select>
      </div>
    </label>

    <label class="{{ type }}">
      <span class="label">Select (multiple)</span>
      <select multiple>
        <option>option 1</option>
        <option>option 2</option>
        <option>option 3</option>
        <option>option 4</option>
      </select>
    </label>

    <label class="{{ type }}">
      <span class="label">Datalist</span>
      <input list="datalist">
      <datalist id="datalist">
        <option value="option 1">
        <option value="option 2">
        <option value="option 3">
      </datalist>
    </label>

     <label class="{{ type }}">
      <span class="label">Checkbox</span>
      <input type="checkbox"> 
    </label>

    <fieldset class="{{ type }}">
      <legend class="type-detail">Radios</legend>
      <label>
        <span class="label">Value 1</span>
        <input type="radio" name="radio">
      </label>
      <label>
        <span class="label">Value 2</span>
        <input type="radio" name="radio">
      </label>
    </fieldset>

    <label>
      <span class="label">Checkbox (Switch)</span>
      <div class="switch">
        <input type="checkbox"> 
      </div>
    </label>

    <fieldset>
      <legend class="type-detail">Radios (switch)</legend>
      <label>
        <span class="label">Value 1</span>
        <div class="switch">
          <input type="radio" name="radioswitch">
        </div>
      </label>
      <label>
        <span class="label">Value 2</span>
        <div class="switch">
          <input type="radio" name="radioswitch">
        </div>
      </label>
    </fieldset>

    <label>
      <span class="label">color</span>
      <input type="color">
    </label>

    <label>
      <span class="label">range</span>
      <input type="range">
    </label>

    <label>
      <span class="label">Submit</span>
      <input type="submit" class="button">
    </label>

    <button class="button">Button</button>
  </form>
</div>