<div class="compact {{ utilities }}">
  <form action="POST" class="region">
    <label>
      <span>Text Input</span>
      <input type="text" class="{{ type }}">
    </label>

    <label>
      <span>Text Input</span>
      <input type="text">
    </label>

    <label>
      <span class="label">Text (placeholder)</span>
      <input type="text" placeholder="Placeholder" class="{{ type }}">
    </label>

    <label>
      <span class="label">Text (Required)</span>
      <input type="text" required class="{{ type }}">
    </label>

    <label>
      <div class="repel">
        <span class="label">Text (validated)</span>
        <span class="note">Four or more characters required.</span>
      </div>
      <input type="text" minlength="4" required class="{{ type }}">
    </label>

    <label>
      <span class="label">Email</span>
      <input type="email" required class="{{ type }}">
    </label>

    <label>
      <span class="label">Text (Disabled)</span>
      <input type="text" disabled class="{{ type }}">
    </label>

    <label>
      <span class="label">Textarea</span>
      <textarea class="{{ type }}"></textarea>
    </label>

    <label>
      <span class="label">Date</span>
      <input type="date" class="{{ type }}">
    </label>

    <label>
      <span class="label">Select</span>
      <div class="select">
        <select class="{{ type }}">
          <optgroup label="optgroup">
            <option>option 1</option>
            <option>option 2</option>
            <option>option 3</option>
          </optgroup>
        </select>
      </div>
    </label>

    <label>
      <span class="label">Select (multiple)</span>
      <select multiple class="{{ type }}">
        <option>option 1</option>
        <option>option 2</option>
        <option>option 3</option>
        <option>option 4</option>
      </select>
    </label>

    <label>
      <span class="label">Datalist</span>
      <input list="datalist" class="{{ type }}">
      <datalist id="datalist">
        <option value="option 1">
        <option value="option 2">
        <option value="option 3">
      </datalist>
    </label>

     <label>
      <span class="label">Checkbox</span>
      <input type="checkbox" class="{{ type }}">
    </label>

    <fieldset class="{{ type }}">
      <legend class="type-detail">Radios</legend>
      <label>
        <span class="label">Value 1</span>
        <input type="radio" name="radio" class="{{ type }}">
      </label>
      <label>
        <span class="label">Value 2</span>
        <input type="radio" name="radio" class="{{ type }}">
      </label>
    </fieldset>

    <label>
      <span class="label">Checkbox (Switch)</span>
      <div class="switch">
        <input type="checkbox" class="{{ type }}">
      </div>
    </label>

    <fieldset>
      <legend class="type-detail">Radios (switch)</legend>
      <label>
        <span class="label">Value 1</span>
        <div class="switch">
          <input type="radio" name="radioswitch" class="{{ type }}">
        </div>
      </label>
      <label>
        <span class="label">Value 2</span>
        <div class="switch">
          <input type="radio" name="radioswitch" class="{{ type }}">
        </div>
      </label>
    </fieldset>

    <label>
      <span class="label">Submit</span>
      <input type="submit" class="button" class="{{ type }}">
    </label>

    <button class="button">Button</button>
  </form>
</div>