<div class="key-value {{ type }}">
	<dl class="flow {{ utilities }}">
		{% for item in items %}
		<div class="sidebar">
			<dt class="type-detail">{{ item.key }}</dt>
			<dd>{{ item.value }}</dd>
		</div>
		{% endfor %}
		{% if cta %}
			<a href="{{ cta.href }}" class="button factsheet-cta">{{ cta.text }}</a>
		{% endif %}
	</dl>
</div>