<div class="article-meta {{ utilities }} {{ type }}">
  <time datetime="{{date}}">{{ date|longdate }}</time>
  {% if tags %}
  <nav aria-label="{{ heading }}">
    <ul class="cluster" role="list">
      {% for tag in tags %}
        <li><a href="{{ tag.url }}">{{ tag.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
</div>
