<div class="hero {{ type }}">
  <div class="hero-highlight {{ utilities }}">
    {% if post.thumbnail %}
    <img src="{{post.thumbnail.src|resize(2000, 850) }}" height="{{post.thumbnail.height}}" width="{{post.thumbnail.width}}" alt="{{post.thumbnail.alt}}" aria-describedby="hero-capt" />
    {% endif %}
    {% elseif post.meta('statistics') %}
    <figure class="statistic flow hero">
      <dl class="wrapper">
      {% for stat in post.meta('statistics') %}
        <div class="body">
          <dt class="type-hed">{{ stat.value }}</dt>
          {%if stat.label %}<dd class="type-detail">{{ stat.label }}</dd>{% endif %}
        </div>
      {% endfor %}
      </dl>
    </figure>
    {% endif %}
  </div>
  <div class="notch hero-header sidebar" data-direction="rtl">
    {% if hed %}
    <div class="hed-banner wrapper">
      <div class="notch-inner">
        <h1 class="notch-inner hed type-pagehed {{ banner }}">{{ hed }}</h1>
      </div>
    {% endif %}
  </div>
</div>
