<div class="hero {{ type }}">
  <div class="hero-highlight {{ utilities }}">
  {% if img %}
  <img src="{{ img.src }}" width="{{ img.width }}" height="{{ img.height }}" alt="{{ img.alt }}" aria-describedby="hero-capt" />
  {% endif %}
  </div>
  <div class="notch hero-header sidebar" data-direction="rtl">
    {% if hed %}
    <div class="hed-banner wrapper">
      <div class="notch-inner">
        <h1 class="notch-inner hed type-pagehed {{ banner }}">{{ hed }}</h1>
      </div>
    {% endif %}
  </div>
</div>