

{% if posts.pagination.pages is not empty %}
<hr>
<div class="region">
    <nav aria-label="pagination" class="pagination cluster">
        {# Previous #}
        {% if posts.pagination.prev %}
        <a href="{{ posts.pagination.prev.link }}" class="previous button icon mini align-only">
            <span>Previous page</span>
            <svg width="800" height="800" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" >
              <path id="chevron" d="m9 6 6 6-6 6" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </a>
        {% else %}
        <span class="previous button icon mini align-only disabled">
            <span>Previous page</span>
            <svg width="800" height="800" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" >
              <path id="chevron" d="m9 6 6 6-6 6" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </span>
        {% endif %}

        <ul role="list" class="cluster">
            {# Pages #}


            {% for page in posts.pagination.pages %}
                {% if "dots" in page.class %}
                <li><span class="type-detail ellipsis">&#8230;</span></li>
                {% else %}
                <li>
                    <a href="{{ page.link }}" class="button mini hollow rounded {{ page.class }}" {% if not page.link %}aria-current="page"{% endif %}><span class="visually-hidden">page</span> {{ page.title }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>

            {% if posts.pagination.next %}
            <a href="{{ posts.pagination.next.link }}" class="next button icon mini align-only">
                <span>Next page</span>
                <svg width="800" height="800" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path id="chevron" d="m9 6 6 6-6 6" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
            {% else %}
            <span class="previous button icon mini align-only disabled">
                <span>Next page</span>
                <svg width="800" height="800" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" >
                  <path id="chevron" d="m9 6 6 6-6 6" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
            {% endif %}
        </ul>
    </nav>
</div>
{% endif %}
