{% set rand = random(99999) %}
<article class="resource-listing {{ type }}" aria-labelledby="hed-{{ rand }}">
  <div class="sidebar">
    {% if img %}
    <a href="{{ href }}" class="thumb">
      <img src="{{ img.src }}" height="{{img.height}}" width="{{img.width}}" alt="">
    </a>
    {% endif %}
    <div class="body flow">
      <time datetime="2024-10-31T00:00:00" class="type-detail">{{ date }}</time>
      <h3 class="type-hed {% if body %}hed-accent{% endif %}" id="hed-{{ rand }}"><a href="{{ href }}">{{ title }}</a></h3>
      {{ body|markdown }}
    </div>
  </div>
</article>