{#
  Title: Media
  Description: Embedded media
  Category: cg-component
  Icon: embed-video
  Mode: edit
  SupportsMode: true
  Align: false
  PostTypes: 
  EnqueueStyle: 
  SupportsAlign: none
  SupportsMultiple: true
  SupportsInnerBlocks: false
  SupportsAlignContent: false
  SupportsAlignText: false
#}
<div class="region">
  <figure class="media">
    {% set media   = get_posts(block.data.media) %}
    {% set title   = block.data.heading ? block.data.heading : media.title %}
    {% set excerpt = block.data.excerpt ? block.data.excerpt : media.excerpt.read_more(false) %}
    {% set youtube = media.podcast_youtube_url %}
    {% set mp3     = media.podcast_mp3_url %}
    <div class="switcher">
      <div class="thumb">
        <div>
        {% if youtube %}
          <a href="{{ youtube }}" data-media="{{ youtube | youtube_embed }}">
          {% if media.poster %}
            <img decoding="async" src="{{ media.poster.src }}">
          {% else %}
            <img decoding="async" src="{{ youtube | youtube_poster }}">
          {% endif %}
          </a>
        {% elseif mp3 %}
          <a href="{{ mp3 }}" data-media="{{ mp3 }}">
            <img decoding="async" src="{{ media.thumbnail }}">
          </a>
        {% endif %}
        </div>
      </div>
      <figcaption class="flow">
        <div class="body">
          <h3 class="type-hed hed-accent">
            <a href="{{ media.link }}">{{ title }}</a>
          </h3>
          <p>{{ excerpt }}</p>
        </div>
      </figcaption>
    </div>
  </figure>
</div>