{#
  Title: Downloadable Resource
  Description: Preview, teaser, and download link for a PDF or other file
  Category: cg-component
  Icon: pdf
  Mode: edit
  SupportsMode: true
  Align: false
  PostTypes: 
  EnqueueStyle: 
  SupportsAlign: none
  SupportsMultiple: true
  SupportsInnerBlocks: false
  SupportsAlignContent: false
  SupportsAlignText: false
#}
{% set file = get_attachment(fields.download_file) %}
<div class="region">
  <div class="feature">
    <div class="sidebar item">
      {% if fields.download_thumbnail %}
      {% set thumb = get_image(fields.download_thumbnail) %}
      <a href="{{ file.src }}" title="{{ file.alt }}" class="thumb">
      <img
        src="{{thumb.src|resize(800, 650) }}"
        height="{{thumb.height}}"
        width="{{thumb.width}}"
        alt="{{thumb.alt}}" />
      </a>
      {% endif %}
      <div class="body flow">
        <div class="hgroup {% if fields.excerpt %}hed-accent {% endif %}flow">
          {% if fields.download_heading %}
          <h2 class="type-hed hed-accent">{{ fields.download_heading }}</h2>
          {% endif %}
        </div>
        {% if fields.download_description %}
        <p>{{ fields.download_description }}</p>
        {% endif %}
        {% if fields.download_cta %}
        <a href="{{ file.src }}" class="button secondary file-cta">{{ fields.download_cta }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>