{#
  Title: Statistics
  Description: Hero presentation for project or company statistics
  Category: cg-component
  Icon: chart-bar
  Mode: edit
  SupportsMode: true
  Align: false
  PostTypes: 
  EnqueueStyle: 
  SupportsAlign: none
  SupportsMultiple: true
  SupportsInnerBlocks: false
  SupportsAlignContent: false
  SupportsAlignText: false
#}
{%- set counter = fields.counter and not is_preview -%}

<div class="region region-double" data-{{ block.id }}>
  <div class="is-style-bg-timeless-backdrop">
    <div class="wrapper">
      <figure class="statistic flow {{ classes | replace({'is-style-': ""}) }} {{ utilities }} {{ counter ? " counter" : "" }}"{{ counter ? " data-counter" : "" }}>
        <dl>
          {% for stat in fields.statistics %}
          <div class="body">
            <dt class="type-hed">{{ stat.value | statistic | raw }}</dt>
            <dd class="type-detail">{{ stat.label }}</dd>
          </div>
          {% endfor %}
        </dl>
      </figure>
    </div>
  </div>
</div>