<div class="page-spacer">

  <main style="min-height: 5em">
  </main>

  <footer class="site-footer {{ utilities }} {{ type }}">
    <div class="footer-cta">
      <div class="notch wrapper">
        <form>
          <div class="notch-inner inner-cta form-disclose">
            <div class="repel">
              <div class="body flow">
                <h3 class="type-hed">Contact Us</h3>
                <p>Need some help? Fill out the form below and our staff will be in touch!</p>
              </div>
              <div class="bg-deep-steel">
                <label class="inverted">
                  <span class="visually-hidden">Please select a topic</span>
                  <div class="select" required>
                    <select required data-form-disclose="fields">
                      <option disabled selected value="">Please select a topic</option>
                      <option value="Accounting and Billing">Accounting and Billing</option>
                      <option value="Employment Inquiries">Employment Inquiries</option>
                      <option value="Project Support">Project Support</option>
                      <option value="Bidders and Contractors">Bidders and Contractors</option>
                      <option value="Other Comments and Questions">Other Comments and Questions</option>
                    </select>
                  </div>
                </label>
              </div>
            </div>
            <div id="fields" class="bg-deep-steel">
              <div class="switcher">
                <label>
                  <span>Email</span>
                  <input type="email" required data-form-disclose="add-fields">
                </label>
                <label>
                  <span>Company</span>
                  <input type="text" required>
                </label>
              </div>
              <div class="switcher">
                <label>
                  <span>First Name</span>
                  <input type="text" required>
                </label>
                <label>
                  <span>Last Name</span>
                  <input type="text" required>
                </label>
              </div>
            </div>
            <div id="add-fields" class="bg-deep-steel">
              <label>
                <span>Subject</span>
                <input type="text" required>
              </label>
              <label>
                <span>Your message</span>
                <textarea rows="5"></textarea>
              </label>
              <input type="submit" value="Submit" class="button">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="wrapper">
      <div class="footer-primary region repel">
        <div class="body">
          {% if blurb %}
          {% if blurb.heading %}
          <h3 class="type-hed hed-accent">{{ blurb.heading }}</h3>
          {% endif %}
          {{ blurb.body | markdown }}
          {% endif %}
          {% if socials %}
          <div class="region cluster socials">
            {% for item in socials.items %}
            <a href="{{ item.link }}" class="button inverted icon"><span>{{ item.text }}</span>{{ item.icon }}</a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        <div class="footer-nav cluster">
          {% for nav in footernav %}
          <div class="flow nav-group">
            <h4 class="type-detail">{{ nav.heading }}</h4>
            <ul role="list" class="flow">
              {% for item in nav.items %}
              <li><a href="{{ item.link }}">{{ item.text }}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="fine-print">
      <div class="wrapper region repel">
        {% if copyright %}
        <small>{{ copyright }}</small>
        {% endif %}
        <nav class="legal" aria-label="Legal">
          <ul role="list">
            {% for link in legal %}
            <li><a href="{{ link.link }}">{{ link.text }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </footer>

</div>