<div class="central">
  <div class="wrapper">
    <div class="feature {{ type }} {{ utilities }}">
      <div class="sidebar item"{% if type == "reverse" %} data-direction="rtl"{% endif %}>
        {% if img %}
        <a href="{{ href }}" class="thumb">
          <img src="{{ img.src }}" height="{{img.height}}" width="{{img.width}}" alt="">
        </a>
        {% endif %}
        <div class="body flow">
          <div class="hgroup {% if body %}hed-accent {% endif %}flow">
            {% if eyebrow %}
            {% if eyebrow|date('U') != 0 %}
            <time class="type-detail weight-regular" datetime="{{eyebrow}}">{{ eyebrow|longdate }}</time>
            {% else %}
            <span class="type-detail weight-regular">{{ eyebrow }}</span>
            {% endif %}
            {% endif %}
            {% if hed %}
            <h3 class="type-hed"><a href="{{ href }}">{{ hed }}</a></h3>
            {% endif %}
            {% if subhed %}
            <p class="subhed">{{ subhed }}</p>
            {% endif %}
          </div>
          {{ body|markdown }}
        </div>
      </div>
    </div>
  </div>
</div>